.card{
    border-color:#007bff;
  }
  ion-card-subtitle {
    color: #007bff;
  }

  input.ng-valid {
    background-color:lemonchiffon;
  }

  textarea.ng-valid {
    background-color: lemonchiffon;
  }
.card-body{
    padding:10px
}

input{
    font-size:13px;
}