.ion-color-paneo {
    --ion-color-base: #13a4da;
    --ion-color-base-rgb: 56, 128, 255;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade:#3171e0;
    --ion-color-tint: #4c8dff;
  }

 