<ion-header>
  <ion-toolbar color="paneo">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
      Planilla {{ordenGranosForm.value.name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="more" routerLink="/setting"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [(formGroup)]="ordenGranosForm">
    <div class="modal-body">
      <div class="row" style="border-bottom: 1px solid #eee">
        <ion-card-subtitle class="col-8">Control Orden de Trabajo</ion-card-subtitle>
        <div class="col-4" style="margin-bottom:15px">
          <button *ngIf="!isCollapsedControl" type="button" class="btn btn-outline-primary btn-sm float-right"
            (click)="isCollapsedControl = !isCollapsedControl" [attr.aria-expanded]="!isCollapsedControl"
            aria-controls="collapseOrdenTrabajo">Contraer</button>
          <button *ngIf="isCollapsedControl" type="button" class="btn btn-outline-primary btn-sm float-right"
            (click)="isCollapsedControl = !isCollapsedControl" [attr.aria-expanded]="!isCollapsedControl"
            aria-controls="collapseOrdenTrabajo">Expandir</button>
        </div>
        <div id="collapseOrdenTrabajo" [ngbCollapse]="isCollapsedControl" class="col-12">
          <div class="card" style="margin-bottom: 15px">
            <div class="card-body">
              <div class="form-row" style="margin-bottom:15px">
                <label class="col-sm-2 col-form-label">Fecha y Hora:</label>
                <div class="col-6">
                  <input placeholder="19/09/2018 . . . ." type="text" class="form-control" name="date"
                    formControlName="date" #date />
                </div>
                <div class="col-6">
                  <input placeholder="15:30 . . . ." type="text" class="form-control" name="hour" formControlName="hour"
                    #hour />
                </div>
              </div>
              <div formGroupName="planilla">
                <div class="form-row" style="margin-bottom:15px">
                  <label class="col-form-label">Origen Mercaderia</label>
                  <div class="col-12">
                    <input type="text" class="form-control" name="origen" formControlName="origen" #origen />
                  </div>
                </div>
                <div class="form-row" style="margin-bottom:15px">
                  <label class="col-form-label">Estado de CTN</label>
                  <div class="col-12">
                    <textarea class="form-control" name="estadoCTN" formControlName="estadoCTN" #estadoCTN></textarea>
                  </div>
                </div>
                <div class="form-row" style="margin-bottom:15px">
                  <label class="col-sm-2 col-form-label">Acondicionamiento</label>
                  <div class="col-12">
                    <input type="text" class="form-control" name="acondicionamiento" formControlName="acondicionamiento"
                      #acondicionamiento />
                  </div>
                </div>
                <div class="form-row" style="margin-bottom:15px">
                  <label class="col-sm-2 col-form-label">Fumigante</label>
                  <div class="col-sm-4">
                    <input class="form-control" name="fumigante" formControlName="fumigante" #fumigante />
                  </div>
                </div>
                <div class="form-row" style="margin-bottom:15px">
                  <label class="col-sm-2 col-form-label">Empresa Fumigante</label>
                  <div class="col-sm-4">
                    <input class="form-control" name="empresaFum" formControlName="empresaFum" #empresaFum />
                  </div>
                </div>
                <div class="form-row" style="margin-bottom:15px">
                  <label class="col-sm-2 col-form-label">Marcas</label>
                  <div class="col-sm-4">
                    <input class="form-control" name="marcas" formControlName="marcas" #marcas />
                  </div>
                </div>
                <div class="form-row" style="margin-bottom:15px">
                  <label class="col-sm-2 col-form-label">Envase</label>
                  <div class="col-sm-4">
                    <textarea class="form-control" placeholder="BOLSAS DE 25KG CON ETIQUETA. . . ." name="envases"
                      formControlName="envases" #envases></textarea>
                  </div>
                </div>
                <div class="form-row" style="margin-bottom:15px">
                  <label class="col-sm-2 col-form-label">Muestras / CTN</label>
                  <div class="col-sm-4">
                    <input class="form-control" name="muestrasCTN" formControlName="muestrasCTN" #muestrasCTN />
                  </div>
                </div>
                <div class="form-row" style="margin-bottom:15px">
                  <label class="col-sm-2 col-form-label">Muestras General</label>
                  <div class="col-sm-4">
                    <input class="form-control" name="muestrasGeneral" formControlName="muestrasGeneral"
                      #muestrasGeneral />
                  </div>
                </div>
                <div class="form-row" style="margin-bottom:15px">
                  <label class="col-sm-2 col-form-label">Otras Muestras</label>
                  <div class="col-sm-4">
                    <input class="form-control" name="otras" formControlName="otras" #otras />
                  </div>
                </div>
                <div class="form-row" style="margin-bottom:15px">
                  <label class="col-sm-2 col-form-label">Observaciones</label>
                  <div class="col-sm-4">
                    <textarea class="form-control" name="comment" formControlName="comment" #comment></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row float-right" style="margin: 0 0 15px">
            <button type="button" class="btn btn-light btn-sm" style="margin-right: 10px"
              (click)="isCollapsedControl = !isCollapsedControl" [attr.aria-expanded]="!isCollapsedControl"
              aria-controls="collapseOrdenTrabajo">Cancelar</button>
            <button *ngIf="isEdit" (click)="editOrdenGranos(ordenGranosForm.value)"
              [disabled]="ordenGranosForm.pristine || ordenGranosForm.invalid" class="btn btn-primary btn-sm"
              (click)="isCollapsedControl = !isCollapsedControl" [attr.aria-expanded]="!isCollapsedControl"
              aria-controls="collapseOrdenTrabajo">Guardar</button>
          </div>
        </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #eee; margin-top:15px">
        <ion-card-subtitle *ngIf="!isCollapsedCalidad" class="col-6">Control Contenedor</ion-card-subtitle>
        <ion-card-subtitle *ngIf="isCollapsedCalidad" class="col-8">Control Contenedor</ion-card-subtitle>
        <div *ngIf="!isCollapsedCalidad" class="col-6" style="margin-bottom:15px">
          <button  type="button" class="btn btn-outline-primary btn-sm float-right"
            (click)="isCollapsedCalidad = !isCollapsedCalidad" [attr.aria-expanded]="!isCollapsedCalidad"
            aria-controls="collapseCalidad"> Contraer </button> 
            <button style="margin-right: 5px;" type="button" class="btn btn-outline-primary btn-sm float-right"
            (click)="openContenedor(ordenGranosForm.value)"> <i class="fas fa-plus"></i> </button>         
        </div>
        <div *ngIf="isCollapsedCalidad" class="col-4" style="margin-bottom:15px">
          <button  type="button" class="btn btn-outline-primary btn-sm float-right"
            (click)="isCollapsedCalidad = !isCollapsedCalidad" [attr.aria-expanded]="!isCollapsedCalidad"
            aria-controls="collapseCalidad">Expandir</button>
        </div>
        <div id="collapseCalidad" [ngbCollapse]="isCollapsedCalidad" class="col-sm-12">
         
          <div class="card" style="margin-bottom: 15px">
            <div class="card-body" style="padding: 0 ">




              <div formGroupName="planilla" *ngIf="ordenGranosForm.value.planilla.contenedores.length > 0">
                <ion-item detail *ngFor="let cont of ordenGranosForm.value.planilla.contenedores; let myIndex=index"
                  main>
                  <ion-label (click)='contenedor(myIndex)'>
                    {{cont.romaneo.name}}
                  </ion-label>
                </ion-item>
              </div>



            </div>
          </div>
        </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #eee; margin-top:15px">
        <ion-card-subtitle *ngIf="!isCollapsedCertificado" class="col-6">Time Log</ion-card-subtitle>
        <ion-card-subtitle *ngIf="isCollapsedCertificado" class="col-8">Time Log</ion-card-subtitle>
        <div *ngIf="isCollapsedCertificado" class="col-4" style="margin-bottom:15px">
          <button *ngIf="isCollapsedCertificado" type="button" class="btn btn-outline-primary btn-sm float-right"
            (click)="isCollapsedCertificado = !isCollapsedCertificado" [attr.aria-expanded]="!isCollapsedCertificado"
            aria-controls="collapseCertificado">Expandir</button>
        </div>
        <div *ngIf="!isCollapsedCertificado" class="col-6" style="margin-bottom:15px">
          <button type="button" class="btn btn-outline-primary btn-sm float-right"
            (click)="isCollapsedCertificado = !isCollapsedCertificado" [attr.aria-expanded]="!isCollapsedCertificado"
            aria-controls="collapseCertificado"> Contraer </button>
          <button style="margin-right: 5px;" type="button" class="btn btn-outline-primary btn-sm float-right"
            (click)="openRel(ordenGranosForm.value)"> <i class="fas fa-plus"></i> </button>
        </div>
        <div id="collapseCertificado" [ngbCollapse]="isCollapsedCertificado" class="col-sm-12">
          <div class="card" style="margin-bottom: 15px">
            <div class="card-body" style="padding:0">



              <table class="table table-hover table-striped " style="margin-bottom: 0; font-size: 10px">



                <tbody *ngIf="ordenGranosForm.value.planilla.timeLog.length > 0">
                  <tr *ngFor="let insp of ordenGranosForm.value.planilla.timeLog; let myIndexT=index">
                    <td>{{insp.date}}</td>
                    <td>{{insp.hour}}</td>
                    <td>{{insp.descripcion}}</td>
                    <td style="min-width: 80px; padding-left: 0;">
                      <button class="btn btn-danger btn-sm float-right" (click)="deleteRel(myIndex)"><i
                          class="far fa-trash-alt"></i></button>
                      <button class="btn btn-primary btn-sm float-right" style="margin-right: 5px"
                        (click)="editRel(myIndexT, ordenGranosForm)"><i class="fas fa-pen"></i></button>
                    </td>

                  </tr>

                </tbody>
                <tfoot>

                </tfoot>
              </table>


            </div>

          </div>

        </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #eee; margin-top:15px">
        <ion-card-subtitle *ngIf="isCollapsedFacturacion" class="col-8">Muestras</ion-card-subtitle>
        <ion-card-subtitle *ngIf="!isCollapsedFacturacion" class="col-6">Muestras</ion-card-subtitle>
        <div *ngIf="!isCollapsedFacturacion" class="col-6" style="margin-bottom:15px">
          <button type="button" class="btn btn-outline-primary btn-sm float-right"
            (click)="isCollapsedFacturacion = !isCollapsedFacturacion" [attr.aria-expanded]="!isCollapsedFacturacion"
            aria-controls="collapseFacturacion"> Contraer </button>
          <button style="margin-right: 5px;" type="button" class="btn btn-outline-primary btn-sm float-right"
            (click)="openMuestras(ordenGranosForm.value)"> <i class="fas fa-plus"></i> </button>
        </div>
        <div *ngIf="isCollapsedFacturacion" class="col-4" style="margin-bottom:15px">
          <button type="button" class="btn btn-outline-primary btn-sm float-right"
            (click)="isCollapsedFacturacion = !isCollapsedFacturacion" [attr.aria-expanded]="!isCollapsedFacturacion"
            aria-controls="collapseFacturacion">Expandir</button>
        </div>
        <div id="collapseFacturacion" [ngbCollapse]="isCollapsedFacturacion" class="col-sm-12">
          <div class="card" style="margin-bottom: 15px">
            <div class="card-body" style="padding:0">
              <table class="table table-hover table-responsive" style="margin-bottom: 0; font-size: 10px">
                <thead>
                  <th></th>
                  <th colspan="2">Archivo</th>

                  <th colspan="2">Cliente</th>

                  <th colspan="2">Otros/Senasa</th>


                </thead>
                <thead style="background-color: #08a9e4">
                  <th>TIPO</th>
                  <th>CANT</th>
                  <th>Nº </th>
                  <th>CANT </th>
                  <th>Nº </th>
                  <th>CANT </th>
                  <th>Nº </th>
                  <th>Accion</th>
                </thead>
                <tbody *ngIf="ordenGranosForm.value.planilla.muestras.length > 0">
                  <tr *ngFor="let insp of ordenGranosForm.value.planilla.muestras; let myIndexM=index">
                    <td>{{insp.tipo}}</td>
                    <td>{{insp.cantArchivo}}</td>
                    <td>{{insp.precintoArchivo}}</td>
                    <td>{{insp.cantCliente}}</td>
                    <td>{{insp.precintoCliente}}</td>
                    <td>{{insp.cantOtros}}</td>
                    <td>{{insp.precintoOtros}}</td>
                    <td style="min-width: 80px; padding-right: 0">
                      <button class="btn btn-danger btn-sm float-right" (click)="deleteMuestras(myIndexM)"><i
                          class="far fa-trash-alt"></i></button>
                      <button class="btn btn-primary btn-sm float-right"
                        (click)="editMuestras(myIndexM, ordenGranosForm)" style="margin-right: 5px"><i
                          class="fas fa-pen"></i></button>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>



  </form>


  <!-- <ion-slides pager="true" scrollbar="true" [options]="slideOpts">

    <ion-slide>

        

      <form [(formGroup)]="ordenGranosForm" >
        <h3>Control OTP </h3>
        <ion-card>
          <ion-card-content formGroupName="planilla">
            <ion-item>
              <ion-label position="stacked">Estado de CTN:</ion-label>
              <ion-textarea name="estadoCTN" formControlName="estadoCTN" #estadoCTN></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Acondicionamiento:</ion-label>
              <ion-textarea name="acondicionamiento" formControlName="acondicionamiento" #acondicionamiento>
              </ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Fumigante:</ion-label>
              <ion-textarea name="fumigante" formControlName="fumigante" #fumigante></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Empresa Fumigante:</ion-label>
              <ion-textarea name="empresaFum" formControlName="empresaFum" #empresaFum></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Marcas:</ion-label>
              <ion-input name="marcas" formControlName="marcas" #marcas></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Envase:</ion-label>
              <ion-textarea placeholder="BOLSAS DE 25KG CON ETIQUETA. . . ." name="envases" formControlName="envases"
                #envases></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Muestras / CTN:</ion-label>
              <ion-input name="muestrasCTN" formControlName="muestrasCTN" #muestrasCTN></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Muestras General:</ion-label>
              <ion-input name="muestrasGeneral" formControlName="muestrasGeneral" #muestrasGeneral></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Otras Muestras:</ion-label>
              <ion-input name="otras" formControlName="otras" #otras></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Observaciones:</ion-label>
              <ion-textarea name="comment" formControlName="comment" #comment></ion-textarea>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <ion-button *ngIf="isEdit" (click)="editOrdenGranos(ordenGranosForm.value)"
          [disabled]="ordenGranosForm.pristine || ordenGranosForm.invalid" style="margin-bottom: 30px">Guardar
        </ion-button>
      </form>
      <br>
    </ion-slide>
    <ion-slide>

      <form [(formGroup)]="ordenGranosForm">
        <h1>Control CTN</h1>
        
          <div formGroupName="planilla" *ngIf="ordenGranosForm.value.planilla.contenedores.length > 0">
              <ion-item  detail *ngFor="let cont of ordenGranosForm.value.planilla.contenedores; let myIndex=index" main >                  
                  <ion-label (click)='contenedor(myIndex)'> 
                Contenedor: {{cont.romaneo.name}}
                  </ion-label>
              </ion-item>           
            </div>
        
      </form>
    </ion-slide>

    <ion-slide>
      <h1>Rel Horaria</h1>
    </ion-slide>
    <ion-slide>
      <h1>Muestras</h1>
    </ion-slide>
  </ion-slides>
  -->
</ion-content>